{% extends 'layouts/app.html.twig' %}

{% block page_title %}{{ page_title|default('Gestion financière') }}{% endblock %}

{% block content %}
    <div class="finance-area mx-auto max-w-7xl animate-fade-in">
        {% include 'admin/finance/_finance_tabs.html.twig' %}
        {% block finance_body %}{% endblock %}
    </div>
{% endblock %}
